# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_ONI_LEFT

config ZMK_KEYBOARD_NAME
    default "oni"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ONI_LEFT || SHIELD_ONI_RIGHT
config ZMK_SPLIT
    default y
endif
